@media(max-width : 430px){
    .adding-flex {
        width: 90vw;
    }
    .new-block {
        font-size: 20px;
    }
    .update-statement {
        font-size: 14px;
    }
    .flex-decoration {
        padding: 0 10px;
    }    



    .team-buttons {
        width: 120px;
        font-size: 12px;
    }
    .toss-buttons{
        width: 140px;
        font-size: 18px;
    }
    .wicketbuttons{
        width: 125px;
        font-size: 16px;
    }
    #tossResult{
        width: 275px;
        font-size: 15px;
    }
    #startMatch{
        width: 270px;
        font-size: 16px;
    }
    .main-container{
        width: 410px;
    }
    .innings,
    #matchResult{
        width: 95%;
        align-self: center;
        font-size: 16px;
    }
    #tossStatement{
        font-size: 13px;
}
#tosswinnerchoice{
    font-size: 14px;
}
}
@media(max-width:400px){
    .alert-dismissible {
        padding-right: 0rem;
    }
    .flex-decoration {
        padding: 16px 10px 0;
    }
    .adding-flex {
        top: 150px;
        min-height: 65vh;
    }
    
    
    .main-container {
        width: 340px;
    }
    .team-selection{
        grid-template-columns: repeat(2,1fr);
    }
    #wickets-content,
    #overs-content{
        flex-direction: column;
    }
    .toss-winner {
        align-items: center;
    }    
    .toss-head{
        font-size: 14px;
    }
    #tosswinner{
        font-size: 14px;
    }
    .options-button {
        font-size: 17px;
        width: 55px;
        height: 55px;
    }
    .format-block {
        align-items: flex-start;
        /* justify-content: space-evenly; */
        flex-direction: column;
        gap: 5px;
        margin-left: 35px;
    }
}
@media(max-width:330px){
    .alert-dismissible {
        padding-right: 3rem;
    }
    .update-size {
        font-size: 16px;
    }
    
    .flex-decoration {
        padding: 16px 0px 0 10px;
    }
    .new-block {
        font-size: 18px;
    }
    .update-statement {
        font-size: 11px;
    }
    .main-container {
        width: 300px;
        gap: 12px;
    }
    #partnership-block {
        margin-left: 35px;
    }
    #user-name, #comp-name {
        font-size: 17px;
    }
    .user-content, .comp-content {
        font-size: 17px;
    }
    #tosswinner,
    #tossStatement,
    #tosswinnerchoice{
        font-size: 12px;
    }
}